<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="assets/cust_account_add.css">

</head>
<body>

<div class="container">
  <div class="cust_details">
  <form action="/adduser" method="post">
    <h2>CUSTOMER DETAILS</h2>
Account Number<input type="text" class="form-control" id="name" placeholder="Enter Name" name="accountnumber" required></input>
Password<input type="password" class="form-control" id="name" placeholder="Enter Name" name="password" required></input>
Name<input type="text" class="form-control" id="name" placeholder="Enter Name" name="name" required></input>
Email<input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required></input>
Phone Number<input type="text" class="form-control" id="phone" placeholder="Enter Phone No" name="phone" required></input>
Age     <input type="text" class="form-control" id="age" placeholder="Enter Age" name="age" required></input>
Gender      <input type="text" class="form-control" id="gender" placeholder="Enter Gender" name="gender" require></input>
Marital Status      <input type="text" class="form-control" id="marital" placeholder="Enter Marital Status" name="marital" required></input>
City     <input type="text" class="form-control" id="city" placeholder="Enter City" name="city" required></input>
Balance      <input type="text" class="form-control" id="balance" placeholder="Enter Balance" name="balance" required></input><br>
  <button type="submit" class="btn btn-primary" id="btn">Submit</button><br>
  </form>
  </div>
</div>

</body>
</html>