<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance</title>
    <link rel="stylesheet" href="assets/wallet.css">
</head>
<body>
    <section class="box">
        <div class="form">
            
            <h2>Deposit Money</h2>
            <form  action="/deposit" method="POST">
            
               Account Number <input type="number" size="40" id="Account" name="account" />   <br> <br><br>
               Amount <input type="text" size="40" id="Amount" name="amount" /> <br><br>
                <p>
                    <button  class="btn" value="Transfer">DEPOSIT</button>
                </p>
                
            </form>
            
        </div>
    </section>
</body>
</html>