<html>
<head>
    <link rel="stylesheet" href="assets/landingpage.css">

</head>
<body>
    <h1 class="wel">Welcome to ABC Bank!</h1>
    
<div class="box">
    <h1 id="h1tag">Pay, Invest, Save <br>
    your cash <br>with single bank
    <a href="login"><button type="button" class="btn">LOGIN</button></a></h1>
    <img class="img" src = "assets/2-2-online-banking-png-hd.png"/>
</div>

<footer class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo">ABC Bank</h1>
          
      <h2>A bank is a financial institution that accepts deposits from the public and 
        creates a demand deposit while simultaneously making loans. 
        Lending activities can be directly performed by the bank or indirectly through capital markets.</h2>
      
      
    </div>
    
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Media</h2>
  
        <ul class="nav__ul">
          <li>
            <a href="#">Online</a>
          </li>
  
          <li>
            <a href="#">Print</a>
          </li>
              
          <li>
            <a href="#">Alternative Ads</a>
          </li>
        </ul>
      </li>
      
      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Contact</h2>
        
        <ul class="nav__ul nav__ul--extra">
          <li>
            <address>
                Mannadipet Commune, Madagadipet, Puducherry 605107<br>   
                <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
              </address>
          </li>        
          
          
        </ul>
      </li>
      
      <li class="nav__item">
        <h2 class="nav__title">Legal</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          
          <li>
            <a href="#">Terms of Use</a>
          </li>
          
          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <div class="legal">
      <p>&copy; 2022 ABC Bank. All rights reserved.</p>
    </div>
  </footer>

</body>
</html>